# Ignore generated gem
/jsonapi-model-*.gem

# Ignore all  tempfiles.
/tmp/*
!/tmp/.keep

# Ignore bundler config.
/.bundle

#
#
# DEVELOPER ENVIRONMENT
#

# Ignore OS artifacts
/.vscode
/.DS_Store

# Ignore code coverage
/coverage/**/*

# Ignore documentation generation
/.yardoc/**/*
/doc/**/*

# Ignore critic output
.rubycritic.yml

# Ignore locally archived files
/**/.archive/**/*
